.Background{
    background-image: url(https://raw.githubusercontent.com/JPHITA/El-berriondo/David/frontend/src/assets/stars.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.login-btn{
    border: solid;
}
.register-btn{
    border: solid;
    background-color: #a850ff;
}
.Login{
    border-bottom: 3px solid black;
}
.login-container{
    background-color: #797979;
}

.Forgetpassword{
    font-size: 12px;
    cursor: pointer;
}